table {
  font-size: 0.95rem;
  border-collapse: collapse;
}
table code {
  font-size: 0.85rem;
}

table td,
table th {
  border: 1px solid #e2e2e2;
  padding: 7px 10px;
}

table > tbody > tr > td:first-child {
  padding-right: 5px;
}
table > tbody > tr > td:not(:first-child) {
  padding-left: 5px;
}

table code {
  background: unset;
  padding: unset;
}
